extends layout

block content
  h1= h1
  p Список веток:
  ul.branches-list
    each branch, index in branches
      li
        a.branches-list__item(href=`branch/${encodeURIComponent(branch)}`)= branch
