doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="noindex")
    meta(name="author" content="Сергей Скорняков")
    meta(name="description" content="ШРИ-2018.")
    link(rel="shortcut icon" href="/favicon.ico")
    link(rel='stylesheet', href='/styles/style.css')
  body
    block content
